{%extends "index.html"%}

{%block Custom_Data%}
<div class="container">
    <table class="table table-striped table-sm mt-5 pr-0 w-75 align-self-center">
        {%for x in products%}  
        <tr>         
            <form method="post" action="/FitnessStore/removefromcart/">
                {% csrf_token %}
                <input type="hidden" name="pid" value="{{x.id}}"/>
                <td>{{x.pname}}</td>
                <td>{{x.prate}}</td>            
                <td><input class="btn" type="submit" value="Remove From Cart"/></td>
            </form>
        </tr>
        {% endfor %}
    </table>
        {% if cont == 0 %}
        <p class="h3">No Products added in Cart</p>
        {%else%}
        <p class="h3">Total Amount : {{total}}</p>
        {% endif %}
</div>
{% endblock %}